@media (max-width: 800px){

    #about_us .content .arrows{
        justify-content: flex-end;
    }

    .swiper-container {
        width: 100% !important;
      }

      .swiper-slide img{
          width: 100%;
          opacity: 1;
}

      .swiper-container .arrows{
        width: 100%;
        text-align: right;
        padding: 16px 16px 0 16px;
      }  


    #about_us{
        padding: 40px 0 21px 0;
    }
    #about_us .content .post{
        flex-direction: column;
        align-items: center;
        order: 2;
    }
    #about_us .post .slider{
        display: none;
    }

    #about_us .arrows img.slider-arrow:hover{
        opacity: 0.4 !important;
     }
    #about_us .swiper-container{
        order: 1 !important;
    }
    #about_us header{
        order: 2;
        padding: 16px 16px;
    }
        #about_us .content header{
        margin-bottom: 0;
        }
    #about_us .text{
        order: 3;
        padding: 4px 16px 16px 16px;
    }


    #about_us .video-container{
        order: 4;
        width: 100%;
        padding: 0 32px;
    }

    #about_us .ratio-16-9 {
        position: relative;
        flex-basis: 45%;
        padding-bottom:56.25%;
        position: relative;
        overflow: hidden;
        background-size: 100% 100%;
        background-position: center;
        cursor: pointer;
    }
    #about_us .ratio-16-9 .play-btn{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20%;
        transition: 0.2s;
        opacity: 0.7;
    }

    #about_us .ratio-16-9 .play-btn:hover{
        cursor: pointer;
        opacity: 0.9;
    }


    #about_us iframe{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    /* #about_us .ratio-16-9 {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%;
      }
    #about_us iframe{
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }  */
    #about_us .wrap-text{
        order: 5;
        padding: 0 16px;
    }
        #about_us .content .post .wrap-text.active{
            max-height: 1200px;
        }
        #about_us .content .post .wrap-text::after{ /* MARGIN WRAP */
            display: none;
        }
        #about_us .content .post .wrap-text h3{
            font-size: 2.13rem;
            margin: 32px 0;
        }
    #about_us button{
        order: 5;
        align-self: center;
        margin-top: 16px;
        position: static;
    }

    @media(max-width: 350px){
        #about_us .content .post .wrap-text.active{
            max-height: 1350px;
        }
    }
}