:root {
    --swiper-theme-color: #007aff
}

/* Preloader */
:root {
    /*
    --swiper-preloader-color: var(--swiper-theme-color);
    */
  }
  .swiper-lazy-preloader {
    --swiper-preloader-color: #000;
    width: 42px;
    height: 42px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -21px;
    margin-top: -21px;
    z-index: 10;
    transform-origin: 50%;
    animation: swiper-preloader-spin 1s infinite linear;
    box-sizing: border-box;
    border: 4px solid var(--swiper-preloader-color, var(--swiper-theme-color));
    border-radius: 50%;
    border-top-color: transparent;
  }

  @keyframes swiper-preloader-spin {
    100% {
      transform: rotate(360deg);
    }
  }
.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box
}

.swiper-wrapper {
    transform: translate3d(0, 0, 0)
}

.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform
}

:root {
    --swiper-navigation-size: 44px
}

* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;

    font-size: var(--fontSize);
    -webkit-tap-highlight-color: transparent;
    /* position: relative; */
}

:root {
    --primaryColor: #ffffff;
    --secondaryColor: #F8F8F8;
    --thirdColor: #EEEEEE;
    --emptyColor: #C4C4C4;
    --maxWidth: 1000px;
    --fontSize: 15px;
    --elementMargin: 24px;
    --headerMargin: 40px;
    --sectionPadding: 80px;
    --mobilePadding: 32px 16px;
}

@media(min-width: 801px) and (max-width: 1000px) {
    :root {
        --maxWidth: 768px;
        --fontSize: 12px;
    }
}

@media(max-width: 350px) {
    :root {
        --fontSize: 13px;
    }
}


/* DOMYŚLNE */
section {
    padding: var(--sectionPadding) 0px;
}

section:nth-child(odd) {
    background-color: var(--secondaryColor);
}

section .content {
    max-width: var(--maxWidth);
    margin: 0 auto;
}

h1 {
    /* font-size: 2.4rem; */
    font-size: 4rem;
    font-weight: 700;
    margin: 0;
}

h2 {
    font-size: 1.6rem;
    font-weight: 500;
    /* margin: 10px 0; */
    margin-top: 16px;
}

h3 {
    font-size: 1rem;
    font-weight: 700;
}

body {
    /* position: relative; */
    margin-top: -72px;
    overflow-x: hidden;
}




/* KONIEC DOMYŚLNE */

/* margin fix nav */
@media(min-width: 801px) {

    #coaches,
    #price,
    #schedule {
        margin-top: 72px;
    }
}

/* ZĘBATKA TŁO */

.bg,
#about_us,
#contact,
#price {
    position: relative;
    overflow: hidden;
}

.bg-logo {
    position: absolute;
    opacity: 0.05;
    -webkit-opacity: 0.05;
}

#about_us .bg-logo {
    z-index: 1;
}

#about_us .bg-logo {
    transform: translate(-50%, -60%);
}

#price .bg-logo {
    right: 0%;
    transform: translate(50%, -60%);

}

.bg .bg-logo {
    bottom: 0%;
    transform: translate(-50%, 40%);
}

.bgC .bgLogo {
    position: absolute;
    opacity: 5%;
    right: 0%;
    bottom: 0%;
    transform: translate(50%, 40%);

}

.bgC {
    position: relative;
    overflow: hidden;
}

@media(max-width: 800px) {
    .bgC .bgLogo {
        display: none;
    }
}


/* KONIEC ZĘBATKA TŁO */


/* ############################################ NAWIGACJA ######################################################   */


@media (min-width: 801px) {
    nav.mobile {
        display: none;
    }
}

nav.desktop {
    letter-spacing: 1px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    transition: 0.5s;
    z-index: 3;
}

nav.desktop .content {
    display: flex;
    flex-direction: row;
    max-width: var(--maxWidth);
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    height: 72px;

}

nav.desktop a.home {
    height: 100%;
    transition: 0.3s;
    cursor: pointer;
    display: flex;
    align-items: center;
}

nav.desktop img {
    height: 48px;
    opacity: 1;
    transition: 0.3s;
    cursor: pointer;
}

nav.desktop ul {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 200px;
    list-style-type: none;
}

nav.desktop ul li {
    flex-grow: 1;
    text-align: center;
}

nav.desktop ul li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.1rem;
    display: block;
    ;
    padding: 22.5px 0;
    width: 100%;
    transition: 0.2s;
    cursor: pointer;
}

nav.desktop ul li a:hover {
    color: #c0c0c0;
}

nav.desktop.active ul li a:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

nav.desktop.active {
    background-color: rgba(255, 255, 255, 0.815);
    backdrop-filter: blur(3px);
    box-shadow: 0px 0px 14px 2px #0002;

}

nav.desktop.active ul li a {
    color: black;
    /* font-size: 15px; */
}

nav.desktop.active ul li a:hover {
    color: black;
}

nav.desktop.active img {
    height: 48px;
    opacity: 1;
}

/* ####################################################### KONIEC NAWIGACJA ######################################################   */



/* ####################################################### FOOTER ######################################################   */
.footer {
    display: none;
}

footer {
    text-align: center;
    padding: 32px 0 0 0;
    background-color: var(--primaryColor);
    font-weight: 500;
}

footer .content {
    display: flex;
    margin: 0 auto;
    max-width: var(--maxWidth);
    align-items: center;
    justify-content: space-between;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 32px 0;
}


footer span:nth-of-type(2) {
    display: flex;
    align-items: center;
    flex-basis: 20%;
    justify-content: space-around;
}



footer img.iconify {
    font-size: 24px;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.2s;
}

footer .iconify:hover {
    opacity: 0.6;
}

footer .social-link {
    display: none;
}

/* ############################################ KONIEC FOOTER ######################################################   */
/* MOBILE */
/* defult */
@media (max-width: 800px) {
    section {
        padding: var(--mobilePadding);
    }

    body {
        margin-top: 64px;
    }

    h1 {
        /* font-size: 2.13rem; */
        font-size: 2.66rem;
    }

    h2 {
        font-size: 1.2rem;
        margin-top: 8px;
        line-height: 30px;
    }

}



/* bg logo */
@media(max-width: 800px) {
    .bg-logo {
        display: none;
    }
}

/* nav */
@media (max-width: 800px) {
    nav.desktop {
        display: none;
    }

    .fade {
        display: block;
        height: 100vh;
        width: 100vw;
        background-color: transparent;
        position: fixed;
        top: 0;
        z-index: 3;
        visibility: hidden;
        transition: 0.3s;
    }

    .fade.active {
        visibility: visible;
        background-color: rgba(0, 0, 0, 0.7);
    }

    nav.mobile {
        display: flex;
        flex-direction: column;
        max-height: auto;
        overflow: hidden;
        transition: 0.6s;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 3;
        /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
        box-shadow: 0px 0px 14px 2px #0002;
        position: relative;
    }

    nav.mobile {
        display: flex;
        flex-direction: column;
        max-height: auto;
        overflow: hidden;
        transition: 0.6s;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 3;
        /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
        box-shadow: 0px 0px 14px 2px #0002;
    }

    nav.mobile .logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 16px;
        z-index: 2;
        background-color: #F8F8F8;
        height: 64px;

    }

    div.logoImg {
        height: 64px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav.mobile .home {
        height: 70%;
    }

    nav.mobile img {
        height: 100%;
        cursor: pointer;
    }

    nav.mobile ul {
        display: flex;
        flex-direction: column;
        background-color: white;
        text-align: left;
        list-style-type: none;
        z-index: 1;
        max-height: 0;
        transition: 0.6s;
    }


    nav.mobile ul li a {
        display: block;
        width: 100%;
        height: 100%;
        padding: 23px;
        text-decoration: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        color: black;
    }

    nav.mobile ul li a:hover {
        background-color: rgba(0, 0, 0, 0.05);
        cursor: pointer;
    }

    nav.mobile.active ul {
        max-height: 800px;
    }



    /* BURGER */
    nav.mobile .burger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 25px;
        width: 32px;
        transition: 0.1s;
        cursor: pointer;
    }

    nav.mobile.active .burger {
        transform: rotate(90deg);
    }

    nav.mobile .burger span {
        display: block;
        width: 32px;
        height: 3px;
        background-color: black;
        position: relative;
        top: 0;
        transition: top 0.1s 0.1s, transform 0.1s 0.2s, opacity 0.1s 0.1s;
    }

    nav.mobile.active .burger span:nth-child(1) {
        top: calc(50% - 3px/2);
        transform: rotate(45deg);
    }

    nav.mobile.active .burger span:nth-child(3) {
        top: calc(-50% + 3px/2);
        transform: rotate(-45deg);
    }

    nav.mobile.active .burger span:nth-child(2) {
        opacity: 0;
    }

}

/* footer */
@media (max-width: 800px) {
    footer {
        padding: 16px 0 0 0;
        /* background-color: var(--secondaryColor); */

    }

    footer .content {
        display: block;
        padding: 16px;
        background-color: var(--secondaryColor);
        border-top: none;

    }

    footer span:nth-of-type(1) {
        width: 100%;
        text-align: center;
        font-size: 0.8rem;
    }

}

@media (max-width: 800px) {
    footer {
        padding: 16px 0 0 0;
    }

    footer .content {
        border: none;
        background-color: #F8F8F8;
    }

    footer .social-link {
        padding: 0 16px 16px 16px;
    }

    footer .social-link::before {
        display: block;
        content: '';
        height: 1px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.1);
        margin-bottom: 16px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    footer .social-link {
        display: block;
        margin-bottom: -4px;
    }

    footer a {
        position: relative;
    }

    footer .social-link img {
        padding: 0 8px;
    }

    footer img.iconify:hover {
        opacity: 50%;
    }
}